<?xml version="1.0"?>
	<config>
		<default>
			<modules>
				<kangu_shipping>
					<version>0.0.0</version>
				</kangu_shipping>
			</modules>
			<global>
				<sales>
					<shipping>
						<carriers>
							<kangu>
								<class>Kangu\Shipping\Model\Carrier\Kangu</class>
							</kangu>
						</carriers>
					</shipping>
				</sales>
			</global>
			<adminhtml>
				<translate>
					<modules>
						<kangu_shipping>
							<files>
								<default>Kangu_Shipping.csv</default>
							</files>
						</kangu_shipping>
					</modules>
				</translate>
			</adminhtml>
			<frontend>
			</frontend>
	
			<carriers>
				<kangu>
					<active>0</active>
					<token></token>
					<defaultwidth>20</defaultwidth>
					<defaultheight>20</defaultheight>
					<defaultlength>20</defaultlength>
					<defaultweight>0.5</defaultweight>
					<model>Kangu\Shipping\Model\Carrier\Kangu</model>
					<title>Kangu Shipping</title>
				</kangu>
			</carriers>
		</default>
	</config>